html {
    background-color: aqua;
    font-family: arial;
}
h3 {
    text-align: center;
    color: darkblue;
}
header {
    background-color: gainsboro;
    font-size: 14px;
    text-align: center;
    padding-bottom: 4px;
}


.main-content {
    display: flex;
    background-color: aqua;
    margin-bottom: 60px;
}
label {
    font-weight: bold;

}

.list {
    flex: 3;
    
}
.heads {
    text-align: left;
    font-size: 27px;
}
.form {
    flex: 2;
}
#uImportant {
    cursor: pointer;
    font-size: 32px;
}
#uImportant.far .fa-star {
    color: bisque;
}
#iImportant {
    font-size: 32px;
    color: mediumslateblue;
    cursor: pointer;
}
#iImportant.fas .fa-star {
    color: red;
}
div.task {
    display: flex;
    border: 1px solid cyan;
    align-items: left;
    margin: 0 20px;
}
.task h3 {
    flex: 3;
}
.task label {
    flex: 1;
}
.task .dates {
    flex: 1;
}
.task .dates label {
    display: block;
}
div.my-field {
    padding-bottom: 10px;
}